.home_padding
  padding: 250px 0 165px 0
  max-width: 1140px
  width: 100%
  height: 100%
  margin: auto

.home_height
  position: relative
  height: 1272px
    
.home_imgbox_first,
.home_imgbox_second
  position: absolute
  width: 600px
  height: 936px

.home_imgbox_first
  top: 0px
  right: -104px

.home_imgbox_second
  bottom: 0px
  left: -104px

.home_img
  position: absolute
  top: 50%
  left: 50%
  width: 57%
  height: auto
  transform: translate(-50%, -50%)
  border-radius: 22px

.home_img_shadow
  position: relative
  width: 100%
  height: 100%

.home_text
  position: absolute
  right: 30px
  bottom: 166px

@media (max-width: 639px) 
  .home_padding
    padding: 100px 0

  .home_height
    height: 100%

  .home_imgbox_first,
  .home_imgbox_second
    position: relative
    flex-shrink: 0
    width: 100%
    max-width: 375px
    height: auto
    right: 0

  .home_imgbox_second
    margin-left: 100px
    left: -208px

  .home_imgs_wrap
    position: relative
    display: flex
    width: max-content
    height: 587px
    margin-left: -24px
    overflow-x: visible
    overflow-y: hidden
    scrollbar-width: none

  .home_text
    position: static