.sec
  position: relative
  width: 100%

.container_inner
  width: 92%
  height: 100%
  margin: 0 auto
  max-width: calc(100% - 48px)
  
.title_wrap
  position: relative
  z-index: 1
  
.category
  margin-bottom: 30px
  font-size: 28px
  font-weight: 700
  line-height: 1.3
  color: #3182f6
  word-break: keep-all
  white-space: pre-wrap
  
.title
  font-size: 50px
  font-weight: 700
  line-height: 1.4
  color: #191f28
  word-break: keep-all
  white-space: pre-wrap
  
.text
  font-size: 23px
  font-weight: 600
  line-height: 1.5
  color: rgb(51, 61, 75)
  word-break: keep-all
  white-space: pre-wrap


@media (max-width: 639px) 
  .sec
    padding: 100px 0

  .category
    margin-bottom: 10px
    font-size: 18px
    
  .title
    font-size: 28px

  .text
    font-size: 17px