.m_0 {
  margin: 0 !important;
}

.mr_6 {
  margin-right: 6px;
}

.mr_4 {
  margin-right: 4px;
}

.mb_30 {
  margin-bottom: 30px;
}

// Padding Utilities
.pb_80 {
  padding-bottom: 80px;

  @media (max-width: 639px) {
    padding-bottom: 60px;
  }
}

.pb_24 {
  padding-bottom: 24px;

  @media (max-width: 639px) {
    padding-bottom: 20px;
  }
}

// Flex Utilities
.flexdir_rv {
  flex-direction: row-reverse;
}

// Background Utilities
.bg_f9 {
  background: #f9fafb;
}

.bg_00 {
  background-color: #000;
}

// Color Utilities
.color_g51 {
  color: rgb(51, 61, 75);
}

.color_8b {
  color: #8b95a1;
}

.color_b0 {
  color: #b0b8c1 !important;
}

.color_d1 {
  color: #d1d6db;
}

// Typography Utilities
.lh_15 {
  line-height: 1.5;
}

.ta_c {
  text-align: center;
}
